<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">



	<targets async ="true">
		<!-- File Target with Archive -->
		<target xsi:type="File"
				name="fileTrace"
				fileName="${basedir}/logs/trace.log"
				archiveFileName="${basedir}/logs/archive/trace-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				archiveAboveSize="1048576"
			layout="${longdate} [${level}] ${message} ${exception}">
		</target>
	</targets>

	<!-- Global log level -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTrace" />
	</rules>

</nlog>